<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Confirmación de Compra</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/"> -->

    

    <!-- Bootstrap core CSS -->
    <!--<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">-->

    
    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='css/confirmacion_compra.css')}}" rel="stylesheet" />
  </head>
  <body>
    <div class="container ">
      <div class="background">
        <div class="img-container">
          <img src="/../static/logo.png" alt="" width="150" height="150">
        </div>
        <div class="text-container">
          <h2>¡Listo!</h2>

          Envíamos la confirmación de tu compra a...
          <div class="correo-container">
            {{ correo }}
          </div>
          <div class="aviso-container">
            ¿No recibiste el correo de tu compra? 
            <br>
            Revisa si tu correo electrónico es correcto o intenta más tarde.
          </div>
          <br>
          <a href="http://127.0.0.1:5000/producto/catalogo" class="btn btn-outline-primary" type="button">Seguir comprando</a>
        <a href="http://127.0.0.1:5000/usuario/inicio" class="btn btn-outline-secondary" type="button">Ir al inicio</a>
        </div>
      </div>
    </div>
  </body>
</html>
