.page_background {
	background-color: #DDDFE4;
	font-family: 'Balsamiq Sans', cursive;
	font-size: 1.1em;
}

.header {
	background-color: #000100;
	outline-color: #B4D2E7;
	font-family: 'Acme', sans-serif;
}

.container_form {
	max-width: 860px;
}