<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Mi Inicio v1.0</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/jumbotron/">

    

    <!-- Bootstrap core CSS -->
    <link href="../../static/InicioUsuario/inicio_usuario.css"  rel="stylesheet">

    
  </head>
  <body style="background-color:#BAD9DE;">
    
<main>
  
  <div class="container py-4">
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Mercatodo</a>
        <form method="POST">
          <button class="btn btn-outline-light" type="submit">Cerrar Sesión</button>
        </form>
      </div>
      </nav>  
    </header>

    <div class="mb-4 border-bottom" style="border-bottom: 3px solid #000000!important;">
      <br>
      <br>
      <img src="../../static/logo.png" class="mx-auto d-block"  width="150" height="150">
      <blockquote class="blockquote text-center">
        <p class="mb-0" style="margin-top: 15px; font-size: 35px;">Bienvenido</p>
      </blockquote>
      
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light rounded-3">
          <h2>Quiero Comprar</h2>
          <p>¿Deseas buscar un producto? Aquí encontrarás un amplio catálogo de 
          productos que podrás adquirir.</p>
          <button class="btn btn-outline-secondary" type="button">COMPRAR</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-dark text-white border rounded-3">
          <h2>Quiero Vender</h2>
          <p>En esta sección podrás dar de alta productos para vender, así como
          administrar los productos que tienes en venta.</p>
          <button class="btn btn-outline-light" type="button">VENDER</button>
        </div>
      </div>
    </div>
  </div>
</main>


  </body>
</html>
